body {
	color: #061739;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2vw;

}

#slogan {
	position: absolute;
	right: 3vw;
	top: 10vw;
	background-color: #689c99;
	padding: 1vw;
	height: 5vw;
	border-radius: 1vw;
	transform: rotate(-20deg);

}

#slogan > h4 {
	padding: 0vw;
	margin: 0;
}

#backing {
	background-image: url("background.jpeg");
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#avatar {
	position: relative;
	float: left;
	height: 10vw;
	left: 3vw;
	top: 3vw;
}

#crew {
	position: relative;
	float: right;
	height: 15vw;
}

#linux {
	position: relative;
	float: right;
	height: 15vw;
}

#car {
	position: relative;
	float: right;
	height: 15vw;
	z-index: 10;
}

#How h3{
	position: relative;
	left: -3vw;
	width: 19vw;

}

p {
	font-family: "Lucida Console", Monaco, monospace;
}

article ul {
	font-family: "Lucida Console", Monaco, monospace;
}

.title {
	font-family: Impact, Charcoal, sans-serif;
}

body > header {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #7788aa;
	margin-bottom: 0;
	margin-top: 0;
	padding: 1.5vw;
}

body > header > address {
	background-color: #7788aa;
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vw;
	padding: .5vw;
	text-align: center;
}


body > header > nav ul {
	padding: 0;
	width: 49vw;
	margin-right: auto;
	margin-left: auto;
}

body > header > nav li {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: .5vw;
	padding-bottom: .5vw;
	border: .5vw black solid;
	width: 8vw;
	background-color: #d3dfe6;
}

body > header > nav li:hover {
	background-color: #aa7739;
}

article {
	margin-left: auto;
	margin-right: auto;
	width: 60vw;
	background-color: #d4b06a;
	margin-top: 2vw;
	padding: .5vw;
	padding-left: 1vw;
	padding-right: 2vw;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;

}

h3 {
	background-color: #4e638e;
	width: 18vw;
	margin-right: auto;
	margin-left: auto;
	padding: .5vw;
	text-align: center;
	border-radius: .5vw;
	background: linear-gradient(to bottom right, #4e638e, #d3dfe6);

}

@media only screen and (max-device-width: 480px)
{
	body {
		font-size: 4vw;
		color: black;
	}

	h1 {
		font-size: 5vw;
	}

	h2 {
		font-size: 4.5vw;
	}

	h3 {
		font-size: 4vw;
	}

	h4 {
		font-size: 3.5vw;
	}

	article {
		width: 85vw;

	}

	body > header > address {
		width: 85vw;
	}

	body > header > nav li {
		padding-top: 2vw;
		padding-bottom: 2vw;
	}

}